<div class="card">
    <div class="card-title blue">
        {{gameTitle}}
    </div>
    <div class="card-content">
        <p><strong>Description: </strong>{{gameDescription}}</p>
        <p><strong>Players: </strong>{{minPlayers}}-{{maxPlayers}}</p>
    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light orange" type="submit" data-value="{{id}}">View Game</button>
    </div>
</div>

{{!-- .then((allUsers) => {
      const hbsObject = { users: allUsers };
      res.render("new-game", hbsObject);
    }); --}}