{{#each games}}
    <h1>{{gameTitle}}</h1>
    <p>{{gameOwner}}</p>
    <p>{{minPlayers}}</p>
    <p>{{maxPlayers}}</p>
    <p>{{minPlayTime}}</p>
    <p>{{maxPlayTim}}</p>
    <p>{{gameDescription}}</p>

{{/each}}