{{> header-block}}
<div class=" container">
    <div class="card row">
        <div class="row">
        <h3 class="center-align">All Games</h3>

    
 {{> users-dropdown}}   
</div>
        <div class="col m10">
        {{#each gameunits}}

        <div class="col s5 m3">
            <div class="card small blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{title}}</span>

                    <ul>
                        <li><strong>Owner: </strong>{{userName}}</li>
                        <li><strong>Owner Email: </strong>{{userEmail}}</li>
                        
                    </ul>
                    {{!-- <div class="row">
                        <p>Rental Status:</p>
                        <button id="change-rent" data-id="{{id}}" data-newRent="{{rented}}">
                            {{#unless rent}}RETURN{{else}}RENT{{/unless}}
                        </button>
                    </div> --}}
                     
                     {{#unless rented}}
                     {{> rent-block rent=true}}
                     {{/unless}}
                     {{#if rented}}
                     {{> rent-block rent=false}}
                     {{/if}}
                

                </div>
                <div class="card-action center-align">              
                    <button class="btn waves-effect waves-light orange delete-game" data-id="{{id}}">DELETE!</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</div>
</div>